html.crunch-light {
    background-color: #f8f9fa;
    color: #212529;
}

.crunch-navbar {
    padding-right:10%;
    padding-left:10%;
    z-index: 200;
}

html.crunch-light .crunch-navbar {
    background-color: #fff;
    border-color: #e6e6e6;
}

.html.crunch-light .crunch-second-navbar {
    background-color: #f6f6f6;
    border-color: #e6e6e6;
}

.crunch-second-navbar {
    padding-right:10%;
    padding-left:10%;
    z-index: 100;
}

html.crunch-light .crunch-footer {
    background-color: #fff;
    border-color: #e6e6e6;
}

.crunch-footer {
    padding-right:10%;
    padding-left:10%;
}

html, body,#crunch-root {
    height: 100%;
    background: transparent;
    color: inherit;
    display: flex;
    flex-direction: column;
}

#crunch-logo {
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    width: 50px;
    height: 50px;
}

#crunch-logo:hover {
    width: 53px;
    height: 53px;
}

#crunch-search {
    width: 20rem;
    height: 2rem;
    margin-top: 5px;
}
.crunch-tokens {
    background: url(/staticContent/token.png) 0 no-repeat;
    transition: transform 0.3s ease-in-out, background-size 0.3s ease-in-out, padding-left 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    background-size: 30px 30px;
    font-weight: 700;
    font-size: 18px;
    padding-left: 30px !important;

}

.crunch-tokens:hover {
    background-size: 33px 33px;
    padding-left: 33px !important;
}

.crunch-content-body {
    margin-top: 7rem !important;
    margin-bottom: 2rem !important;
}
