{% extends "layoutv2.html" %}

{% block content %}
    <style>
        .avatar-colors .color-block-head {
            width: 50px;
            height: 50px;
            margin: 5px;
            background-color: #a1a1a1;
        }
        .avatar-colors .color-block-torso {
            width: 110px;
            height: 100px;
            margin: 5px;
            background-color: #a1a1a1;
        }
        .avatar-colors .color-block-right-arm {
            width: 50px;
            height: 100px;
            margin: 5px;
            background-color: #a1a1a1;
        }
        .avatar-colors .color-block-left-arm {
            width: 50px;
            height: 100px;
            margin: 5px;
            background-color: #a1a1a1;
        }
        .avatar-colors .color-block-right-leg {
            width: 50px;
            height: 100px;
            margin: 5px;
            background-color: #a1a1a1;
        }
        .avatar-colors .color-block-left-leg {
            width: 50px;
            height: 100px;
            margin: 5px;
            background-color: #a1a1a1;
        }
        .item-container {
            width: 600px;
        }
        .colorpick-div {
            max-width: 300px;
        }
        .color-button {
            width: 35px;
            height: 35px;
            margin: 5px
        }
    </style>
    <div>
        <div class="container d-flex justify-content-center align-items-center py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center mb-3">
                        <div class="avatar-preview mb-3">
                            <img src="/Thumbs/Avatar.ashx?userId={{ userinfo[0]|e }}&width=200" width="200" height="200" class="card-img-top" alt="Item Image" style="max-width: fit-content; max-height: fit-content;">
                            <p>Avatar isn't loading correctly? <a class="link" href="#">Redraw (coming soon)</a></p>
                        </div>
                    </div>
                    <br>
                    <h5>Avatar Type <img id="lc1" src="/staticContent/loading.gif" height="32px" width="32px" alt="Loading..."></h5>
                    <p>Select either R6 or R15. Works on 2018L and above.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="R15">
                        <label class="form-check-label" for="flexRadioDefault1">
                          R15
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="R6">
                        <label class="form-check-label" for="flexRadioDefault2">
                          R6
                        </label>
                    </div>
                    <br>
                    <h5>Avatar Colors <img id="lc2" src="/staticContent/loading.gif" height="32px" width="32px" alt="Loading..."></h5>
                    <p>Select a body part you wish to change the color on!</p>
                    <div class="d-flex justify-content-center avatar-colors colorpick-div">
                        <button class="color-block-head" data-bs-toggle="modal" data-bs-target="#color-picker"></button>
                    </div>
                    <div class="d-flex justify-content-center avatar-colors colorpick-div">
                        <button class="color-block-left-arm" data-bs-toggle="modal" data-bs-target="#color-picker"></button>
                        <button class="color-block-torso" data-bs-toggle="modal" data-bs-target="#color-picker"></button>
                        <button class="color-block-right-arm" data-bs-toggle="modal" data-bs-target="#color-picker"></button>
                    </div>
                    <div class="d-flex justify-content-center avatar-colors colorpick-div">
                        <button class="color-block-left-leg" data-bs-toggle="modal" data-bs-target="#color-picker"></button>
                        <button class="color-block-right-leg" data-bs-toggle="modal" data-bs-target="#color-picker"></button>
                    </div>
                </div>
                <div class="modal fade" id="color-picker" tabindex="-1" aria-labelledby="color-pickerLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="color-pickerLabel">Choose a color!</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="color-buttons-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active">All</a>
                        </li>
                    </div>
                    <h5 class="mt-4">Unequipped Items</h5>
                    <div class="item-container d-flex flex-wrap py-3">
                        <div class="card me-3 mb-3 d-none" style="width: 10rem;">
                            <img src="/staticContent/loading.gif" class="card-img-top" alt="Item Image">
                            <div class="card-body">
                                <h6 class="card-title">Unknown</h6>
                                <p class="card-text">Type: Unknown</p>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary btn-sm">Equip</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav> -->
                    <h5 class="mt-4">Equipped Items</h5>
                    <div class="currently-wearing-container d-flex flex-wrap">
                        <div class="card me-3 mb-3 d-none" style="width: 10rem;">
                            <img src="/staticContent/loading.gif" class="card-img-top" alt="Item Image">
                            <div class="card-body">
                                <h6 class="card-title">Unknown</h6>
                                <p class="card-text">Type: Unknown</p>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-secondary btn-sm">Un-Equip</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/staticContent/javascript/avatar-editor.js"></script>
{% endblock content %}