<!DOCTYPE html>
<html class="crunch-light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/staticContent/css/main.css">
    <title>CrunchRev</title>
    <link rel="icon" type="image/x-icon" href="https://www.{{ baseurl|e }}/favicon.ico">
</head>

<body>
    <div id="crunch-root">
        <div class="fixed-top">
            <nav class="navbar crunch-navbar navbar-expand-sm navbar-light shadow-sm">
                <a class="navbar-brand" href="/">
                    <img src="/staticContent/CrunchRevAsset1.png" id="crunch-logo" alt="CrunchRev Logo" loading="lazy"
                        class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/games">Games</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/catalog">Marketplace</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/Develop">Create</a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-nav ms-auto">
                    {% if loggedIn %}
                    <li class="nav-item">
                        <a class="nav-link active crunch-tokens" href="" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="You have {{ userinfo[9]|e }} Crunches.">
                            {{ userinfo[9]|e }}
                        </a>
                    </li>
                    <a class="nav-item text-decoration-none text-dark" href="/users/{{ userinfo[0]|e }}">
                        <img src="/staticContent/Placeholder.png" class="rounded-circle img-fluid" height="40" width="40"
                            alt="{{ userinfo[1]|e }}'s Avatar Headshot">
                        {{ userinfo[1]|e }}
                    </a>
                    <div class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog fa-2 mb-1" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/settings">Settings</a>
                            <a class="dropdown-item" href="/help">Help</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                    </div>
                    {% else %}
                    <li class="nav-item me-2">
                        <a class="btn btn-secondary" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary" href="/signup">Sign Up</a>
                    </li>
                    {% endif %}
                </div>
            </nav>
            {% if loggedIn %}
            <nav class="navbar crunch-second-navbar bg-light navbar-expand-sm navbar-light shadow-sm py-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link py-1" href="/users/{{ userinfo[0]|e }}">Profile</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link py-1" href="/my/avatar">Character</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link py-1" href="/my/friends">Friends</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link py-1" href="/my/groups">Groups</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link py-1" href="/my/inventory">Inventory</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link py-1" href="/search/users">Users</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endif %}
        </div>

        <div class="mt-5 pt-4 crunch-content-body">
            {% block content %}{% endblock content %}
        </div>

        <div class="footer mt-auto pt-3 pb-4 text-center shadow-lg crunch-footer">
            <div class="container">
                Copyright © 2024 CrunchRev.
                <br>
                CrunchRev is not affiliated with, endorsed by, or sponsored by <a href="https://corp.roblox.com">Roblox
                    Corporation</a>.
            </div>
        </div>
    </div>
</body>

</html>